# vi
*.swp
*.swo

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Qt
Makefile
Makefile.*
*.pro.user
debug/
release/
bin/
moc_*.cpp
qrc_*.cpp
*.moc
*.app/

# Mac OS X
.DS_Store
